<section class="main-section-signup">
  <div class="main-section-signup__contents">
    <h1 class="title">Get the latest updates from Stories</h1>

    <%= form_for @signup, :url => {:action => :new}, :html => {:class => "signup-form"} do |f| %>
    <div class="form-group">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-input" %>
    </div>

    <%= f.submit "Join", class: "btn--join" %>

    <% end %>
  </div>
</section>
